{% include header.html %}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2  col-lg-offset-1">
                <div class="person">
                    <img src="{{ site.data.global.author_image | prepend: site.url }}" class="pull-center round-img img-responsive">
                    <h1 class="profession text-center"> {{ site.data.global.author_profession }} {{ site.data.global.author_name }} </h1>
                </div>
            </div>
            <div class="col-lg-5">
                <p class="person-info lead">
                   {{ site.data.global.author_description }}
                </p><br>
                History<hr>
                <h5 class="profession lead">
                   {{ site.data.global.author_history }}
                </h5>
            </div>
            <div class="col-lg-4">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
</section>

{% include footer.html %}
