{% include header.html %}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">

                <br><h1 class='text-center'>ContactUs</h1><br>

                <dl class="dl-horizontal">
                    <dt>Call</dt>
                    <dd>{{ site.data.global.company_call }}</dd>
                    <dt>E-Mail</dt>
                    <dd><a href="mailto:#">{{ site.data.global.company_email }}</a></dd>
                    <dt>Address</dt>
                    <dd><address>{{ site.data.global.company_address }}</address></dd>
                    <dd><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d800.4684682856647!2d127.45215022919379!3d36.62942249874898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x356528915d16ba83%3A0xc6e1f092b76c8d3e!2z7Lap7LKt67aB64-EIOyyreyjvOyLnCDtnaXrjZXqtawg67O164yAMuuPmSAyNTAtMTA!5e0!3m2!1sko!2skr!4v1565972164050!5m2!1sko!2skr" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></dd>
                </dl>

            </div>
        </div>
    </div>
</section>

{% include footer.html %}
