{% include header.html %}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-lg-offset-1">

                <h1>ContactUs</h1>
                <br>
                <dl class="dl-horizontal">
                    <dt>Call</dt>
                    <dd>{{ site.data.global.company_call }}</dd>
                    <dt>E-Mail</dt>
                    <dd><a href="mailto:#">{{ site.data.global.company_email }}</a></dd>
                    <dt>Address</dt>
                    <dd><address>{{ site.data.global.company_address }}</address></dd>
                </dl>

            </div>
        </div>
    </div>
</section>

{% include footer.html %}
