{% include header.html %}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">

                <br><h1 class='text-center'>ContactUs</h1><br>

                <dl class="dl-horizontal">
                    <dt>Call</dt>
                    <dd>{{ site.data.global.company_call }}</dd>
                    <dt>E-Mail</dt>
                    <dd><a href="mailto:#">{{ site.data.global.company_email }}</a></dd>
                    <dt>Address</dt>
                    <dd><address>{{ site.data.global.company_address }}</address></dd>
                </dl>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3201.87387392229!2d127.45050871502603!3d36.62942247998399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x356528915d16ba83%3A0xaa4257cdcbd6d264!2z7Lap7LKt67aB64-EIOyyreyjvOyLnCDtnaXrjZXqtawg67O164yA64-ZIDI1MC0xMA!5e0!3m2!1sko!2skr!4v1565972423535!5m2!1sko!2skr" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

{% include footer.html %}
