{% include header.html %}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-lg-offset-1">

                <br><h1 class='text-center'>Service</h1><br>
                <br><h2>보안컨설팅</h2>
                <dl class="dl-horizontal">
                    <dt>웹 취약점 진단</dt>
                    <dd>{{ site.data.global.web_vulnerability }}</dd>
                    <br>
                    <dt>모의해킹</dt>
                    <dd>{{ site.data.global.pentesting }}</dd>

                <br><h2>소프트웨어</h2>
                <dl class="dl-horizontal">
                    <dt>MVS</dt>
                    <dd>{{ site.data.global.mvs }}</dd>
                    <br>
                    <dt>CDAM</dt>
                    <dd>{{ site.data.global.cdam }}</dd>
                    
                </dl>

            </div>
            <div class="col-lg-4">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
</section>

{% include footer.html %}
